
main {
  min-height: 84vh ;
}
h3 {
  padding: 1rem;
}
.rating span{
  margin: 0.1rem;
}
.product-reviews{
  font-size: 14px;
}
.navbar-light .navbar-nav .nav-link {
  color: rgba(255,255,255,1);
}
.navbar-light:hover .navbar-nav:hover .nav-link:hover {
  color: turquoise;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
  color: turquoise;
}
::-webkit-scrollbar{
  display: none;
}

/* .container{
  width: 100%;
  height: 100%;
  overflow: auto;
  
}

video{
  position:absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  z-index: -10;
} */
.header-text{
  color: white;
}
.header-text:hover{
  color: turquoise;
}

footer{
  width: 100%;
  text-align: center;
  background-color: #343A40;
  color: white;
  padding: 0px;
}
a:hover{
  color: turquoise;
}
.icon-row{
  display: inline-block;
  letter-spacing: 20px;
  margin-top: -16px;
}

h1{
  font-size: 1.4rem;
  padding: 0.8rem;
  display: inline-block;
}
input{
  outline: none !important;
}